.acf-field-phone {}

.acf-field input[type="tel"] {
	width: 100%;
	padding: 3px 5px;
	resize: none;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 15px;
}

.acf-field-phone-field .acf-input-prepend,
.acf-field-phone .acf-input-prepend {
	font-family: "dashicons";
	content: "\f525";
    padding: 4px 23px 4px 8px;
}
